tunnel: <TUNNEL_UUID>
credentials-file: <CREDENTIALS_FILE>

ingress:
  - hostname: <HOSTNAME>
    path: ^/metrics
    service: http_status:403
  - hostname: <HOSTNAME>
    service: http://localhost:18080
    originRequest:
      connectTimeout: 30s
      noTLSVerify: false
  - service: http_status:404
